@model BookCompanyManagement.Models.BookPrintOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookPrintOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookCompany.BookCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookCompany.BookCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookEditon.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookEditon.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintShop.PrintShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintShop.PrintShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookPrintOrderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookPrintOrderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookPrintMount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookPrintMount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopmleteDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopmleteDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Printsheet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Printsheet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bookbinding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bookbinding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plasticpackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plasticpackage)
        </dd>



    </dl>

</div>

<div>
    <h4>PaperNeed</h4>
    <table class="table">
        <tr>

            <th>
                项目
            </th>

            <th>
                纸张名称
            </th>
            <th>
                开纸
            </th>
            <th>
                用料
            </th>
            <th>
                加放
            </th>
            <th>
                工艺
            </th>

            <th>
                合计
            </th>
        </tr>

        @foreach (var item in Model.PaperNeeds)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PageType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paper.PaperName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperFormat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Need)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperWastage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Technological)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperNeedMount)
                </td>
            </tr>
        }

    </table>
</div>

<div>
    <h4>makeup</h4>
    <table class="table">
        <tr>
            <th>
                分类
            </th>
            <th>
                名称
            </th>
            <th>
                总数
            </th>
        </tr>
        @foreach (var item in Model.Makeups)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MakeupType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakeupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
        </tr>
        }
    </table>
</div>

<div>
    <h4>打包</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Normalpackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Railpackage)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Normalpackage)
            </td>
            <td>
                @Html.DisplayFor(model => model.Railpackage)
            </td>
        </tr>

    </table>
</div>
<div>
    <h4>bookDelivery</h4>
    <table class="table">
        <tr>
            <th>书DeliveryType</th>
            <th>送货时间DeliveryDate</th>
            <th>数量/本DeliveryQuantily</th>
            <th>交货地点DeliveryAddress</th>
            <th>联系人DeliveryContact</th>
        </tr>
        @foreach (var item in Model.BookDeliverys)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryQuantily)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryContact)
                </td>
            </tr>
        }

    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookPrintOrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
