@model IEnumerable<BookCompanyManagement.Models.Paper>

@{
    ViewBag.Title = "纸张管理";
}

<h2>纸张列表</h2>

<p>
    @Html.ActionLink("新增纸张", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaperName)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaperName)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.PaperId }) |
            @Html.ActionLink("库存", "Details", new { id=item.PaperId }) |
            @Html.ActionLink("删除", "Delete", new { id=item.PaperId })
        </td>
    </tr>
}

</table>
