@model IEnumerable<BookCompanyManagement.Models.BookCompany>

@{
    ViewBag.Title = "图书公司";
}

<h2>图书公司列表</h2>

<p>
    @Html.ActionLink("新增图书公司", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookCompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCompanyDescription)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookCompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookCompanyDescription)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>*@
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.BookCompanyId })
            @* |@Html.ActionLink("Details", "Details", new { id=item.BookCompanyId }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.BookCompanyId })*@
        </td>
    </tr>
}

</table>
